<div class="row">
    <div class="col-md-2">
      <div>
        <div>
          <img
            src="{{ cast?.profilePath }}"
            class="img-fluid rounded"
            alt="{{ cast?.name }}"
          />
        </div>
        <div>
          <h1>
            {{ cast?.name }}
          </h1>
          <small class="text-muted">
            <span *ngIf="cast?.gender === '2'"> Male </span>
            <span *ngIf="cast?.gender === '1'"> Female </span>
          </small>
        </div>
        <div class="row">
          <div>
            <a href="{{ cast?.tmdbUrl }}" class="btn btn-outline-info" role="button"
              >Tmdb Profile</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="container-fluid bg-light">
        <div><h2>Filmography</h2></div>
        <div class="row">
          <div class="col-6 col-lg-3 col-sm-4 col-xl-2" *ngFor="let movie of cast?.movies">
            <app-movie-card [movie]="movie"></app-movie-card>
          </div>
        </div>
      </div>
    </div>
  </div>